

body{
    font-family: jost;
}

#logo{
    height: 50px;
}

.carrousel-bg{
    /* background-color: #f3b6d6b7; */
    padding: 50px;
}

.carrousel-img{
    height: 350px;
}

.carrousel_price{
    color: deeppink;
    font-size: 25px;
    font-weight: 700;
}

.carrousel_heading{
    color: deeppink;
    font-size: 35px;
  font-weight: 500px;
}

.carrousel_text{
    font-size: 18px;
    font-weight: 600;
   
}


.section_heading{
    font-size: 60px;
    font-weight: 600;
    color: deeppink;
}

#contact{
    background-color: bisque;
   min-height: 250px;
   margin-top: 100px;
}

.card{
    box-shadow: 3px 5px 15px rgba(62, 62, 62, 0.365);
}

.card-title{
    color:deeppink ;
    font-weight: 600;
    font-size: 25px;
}

.card-text{
    color: blue;
  
    font-size: 18px;
}

.card-img-top{
    width: 300px;
}